
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    box-sizing: border-box;
    
}

ul,
ol {
    margin: 0;
    padding: 0;
}

a,
button {
    outline: none;
}

header {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #f6f2f2;
}

.container {
    min-width: 1200px;
    width: calc(100% - 330px);
    margin: 0 auto;
}

.navigation {
    background-color: #313030;
    list-style: none;
    text-align: center;
}

ul.navbar li {
    list-style: none;
    color: #e0e0e0;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    height: 100%;
}

.home {
    background-color: #f6f2f2;
    width: 100%;
}

.home-content,
.provide-content {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.future-content {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.provide-content {
    border-bottom: 2px solid gray;
}

.home_left_box {
    width: 100%;
}

a {
    color: #e0e0e0;
    text-decoration: none;
    display: block;
    padding: 45px 10px 27px 10px;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;

}

.navbar a:hover {
    background-color: #ff3f40;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}

.header-h1 {
    font-size: 37px;
    margin: 0;
    color: #000000;
    font-size: 3em;
    line-height: 1em;
    font-weight: 900;
}

.header_p {
    margin-top: 47px;
    font-size: 1em;
    color: #6f6d6d;
    line-height: 1.2em;
}

.home_button {
    padding: 0;
    border-radius: 5px;
    font-size: 1.2em;
    color: inherit;
    background-color: #ff2d2d;
    color: #ffffff;
    width: 226px;
    padding: 10px 0;
    cursor: pointer;
    border: none;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
    outline: none;
}

.home_button button:hover {
    background-color: #a01515;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
    outline: none;
}

.video-wrapper {
    width: 100%;
    height: 346px;
    background-color: #c4c0b1;
    box-shadow: 0px 0px 20px 10px rgba(199, 199, 199, 1);
}

/*------------------------------------------------*/

.provide {
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: space-between;
}


.provide_left_box {
    width: 50%;
    font-size: 1em;
}

.provide_title {
    text-transform: uppercase;
}

.provide_button {
    padding: 0;
    border-radius: 5px;
    font-size: 1.2em;
    color: inherit;
    background-color: #ffffff;
    color: #ff2d2d;
    width: 226px;
    padding: 10px 0;
    cursor: pointer;
    border: none;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
    border-color: #ff2d2d;
    border: solid;
    border-width: 2px;
    outline: none;
}

button:hover {
    background-color: #a01515;
    color: #ffffff;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
    outline: none;
}

.provide_right_box {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(50% - 20px);
    padding: 10px;
}


/*------------------------------------------------*/
.future {
    display: flex;
}


.future_navigation a {
    color: grey;
}

.future_navigation a:hover {
    color: #ff3f40;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}

.future_description {
    text-align: center;
    position: relative;
}

.future_description::after {
    content: '';
    display: block;
    width: 132px;
    height: 2px;
    background-color: #ff3f40;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.future_navigation {
    display: flex;
    align-items: center;
}

ul.future_navigation li {
    list-style: none;
    color: #e0e0e0;
    text-decoration: none;
}

.future_image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.photo_place {
    width: 250px;
    height: 250px;
    background-color: #f5f0dd;
    padding: 0 20px;
    margin: 5px;
    list-style: none;
    background-size: cover;
    background-repeat: no-repeat;
}

.p1 {
    background-image: url(images/temp1.jpg);
}

.p2 {
    background-image: url(images/ui1.jpg);

}

.p3 {
    background-image: url(images/temp2.jpg);
}

.p4 {
    background-image: url(images/ui2.jpg);
}

.p5 {
    background-image: url(images/webtemp1.jpg);
}

.p6 {
    background-image: url(images/mc1.jpg);
}

.p7 {
    background-image: url(images/webtemp2.jpg);
}

.p8 {
    background-image: url(images/mc2.jpg);
}

/*-------------------------------------------*/
.team_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team_left {
    width: 100%;
    flex-grow: 1;
}


.team_description {
    text-align: left;
    position: relative;
}

.team_description::after {
    content: '';
    display: block;
    width: 132px;
    height: 2px;
    background-color: #ff3f40;
    position: absolute;
    left: 0%;
}

.team_mainimage {
    background-color: #f5f0dd;
    width: 25%;
    height: auto;
    background-image: url(images/photo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.team_right {

    flex-grow: 1;
    margin-left: 50px;
}

ul.social_network {
    list-style: none;
    display: flex;
    justify-content: flex-start;

}

.social_network a:hover {
    color: red;
}

.social_network a {
    color: #333333;
    padding-inline-start: 0px;
}

.each_image {
    display: flex;
    flex-wrap: wrap;



}

.team_photo_place {
    background-color: #f5f0dd;
    width: 160px;
    height: 190px;
    list-style: none;
    position: relative;
    margin: 10px;
    display: flex;
    align-items: flex-end;

    background-size: cover;

}

.team_photo_place:hover>.team_photo_place_name {
    opacity: 1;
}

.team_photo_place_name {
    width: 100%;
    height: 15%;
    background-color: black;
    color: white;
    text-align: center;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.team_photo_place_name p {
    margin: 0;
}

.tp1 {
    background-image: url(images/photo1.jpg);
}

.tp2 {
    background-image: url(images/photo2.jpg);
    background-size: 100% 100%;
}

.tp3 {
    background-image: url(images/photo3.jpg);
    background-size: 110% 100%;
}

.tp4 {
    background-image: url(images/photo4.jpg);
}

/*--------------------------------------------------*/
.subscribe {
    width: 100%;
    height: 513px;
    background-color: #f5f0dd;
    text-align: center;
}

.sub_tittle {
    padding: 145px 0 0 0;
    font-size: 30px;
}

.sub_find {
    width: 500px;
    height: 80px;
    border-radius: 10px;
    font-size: 24px;
    margin: 20px;
    padding: 0px;
    border: none;
    outline: none;
    text-indent: 10%;
}

.sub_button {
    width: 215px;
    height: 80px;
    border-radius: 10px;
    padding: 0 0 0 0;
    font-size: 1.2em;
    color: inherit;
    background-color: #ff2d2d;
    color: #ffffff;
    cursor: pointer;
    border: none;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
    outline: none;
}

.sub_button:hover {
    background-color: #a01515;
    color: #ffffff;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
    outline: none;
}


/*----------------------------------------------------*/


.mail {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 50px 0;
}

.mail_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mail_tittle {
    padding: 0 0 30px;
}

.mail_description {
    padding: 0 0 30px;
}

.mail_left {
    width: 50%;
}

.mail_description {
    text-align: left;
    position: relative;
}

.mail_description::after {
    content: '';
    display: block;
    width: 132px;
    height: 2px;
    background-color: #ff3f40;
    position: absolute;
    left: 0%;
}

.input_data {
    margin: 10px 10px 10px 10px;
}

.mail_user {
    display: flex;
    justify-content: space-between;
    outline: none;
}

.mail_user_data {
    width: 45%;
    height: 72px;
    background-color: #e5e5e5;
    border-radius: 10px;
    margin: 0 0 30px 0;
    outline: none;
    text-indent: 15%;
    border: none;
}

.mail_message {
    width: 100%;
    height: 251px;
    background-color: #e5e5e5;
    border-radius: 10px;
    outline: none;
    text-indent: 6%;
    border: none;
    resize: none;
}

.mail_button {
    width: 100%;
    height: 75px;
    border-radius: 10px;
    background-color: #ff3f40;
    color: white;
    font-size: 14px;
    margin: 30px 0 0 0;
    outline: none;
    cursor: pointer;
    border: none;
}

.mail_button:hover {
    background-color: #a01515;
    color: #ffffff;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
    outline: none;
}


.contact_info {
    color: white;
    width: 40%;
    height: 282px;
    background: #2d2d2d;
    padding: 100px 0px 0px 100px;
    align-self: flex-end;
    position: relative;
}

.contact_info::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    top: 0;
    right: -50%;
}


/*-------------------------------------------------------*/


footer {
    width: 100%;
    height: 70px;
    background-color: #313030;
    color: #b8b8b8;
    vertical-align: middle;
    padding: 15px 0 5px 0;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    
}

.footer_box {
    display: flex;
    justify-content: space-between;
}


.footer_icons {
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 160px; 
   height: 40px;
   margin: 10px 0 0 0 ;
    
}

.social_item{
    height:27px;
    width: 27px;
    color: #313030;
  
    border-radius: 50%; 
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_item:hover{
    background-color: #565555; 
} 
  /*  
}

.footer_icons a {
    padding: 15px;
    display: flex;
    justify-content:center;
}

.icon{
    border: solid;
  
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ebebeb;
    color: #313030;
    margin-top: 5%; 
  
}
*/


@media screen and (max-width:1200px) {
    

    .container {
        min-width: 90%;
    }
    
    .home_left_box{
        width: 90%;
    }
    .future_image{
        margin: 0 6% 0%;
    }
}

@media screen and (max-width:1024px) {
  
    .future_image{
        margin: 0;
    }
    .team_boxes{
        display: flex;
        flex-direction: column;
        
    }
    .team_right{
        margin: 0;
    }
    .each_image{
        justify-content: center;
    }
    .contact_info{
        padding: 50px 0px 0px 50px;
    }

}

@media screen and (max-width:992px) {
  

    .future_image{
        margin: 0% 15% 0 15%;
    }
   .team_boxes{
       flex-direction: column; 
   }
}

@media screen and (max-width:768px) {
 

    .future_image{
        margin: 0% 5% 0 5%;
    }
}

@media screen and (max-width:600px) {
    body {
        width: 800px;
    }
}

@media screen and (max-width:320px) {
    body {
        width: 800px;
    }
}